@import "tailwindcss";

@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 38 40% 96%;
    --foreground: 24 35% 15%;
    
    --card: 38 40% 94%;
    --card-foreground: 24 35% 15%;
    
    --popover: 38 40% 96%;
    --popover-foreground: 24 35% 15%;
    
    --primary: 24 35% 25%;
    --primary-foreground: 38 40% 96%;
    
    --secondary: 32 40% 85%;
    --secondary-foreground: 24 35% 25%;
    
    --muted: 32 20% 90%;
    --muted-foreground: 24 15% 45%;
    
    --accent: 32 60% 55%;
    --accent-foreground: 38 40% 96%;
    
    --destructive: 0 70% 50%;
    --destructive-foreground: 38 40% 96%;

    --border: 24 15% 85%;
    --input: 24 15% 85%;
    --ring: 24 35% 25%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}